.arrow {
  /* will need to change arrow color if background color is not white */
  position: absolute;
  z-index: 1;
  width: 40px;
  opacity: 0.7;
}

.arrow:hover {
  opacity: 1;
}

.left-arrow {
  left: -20%;
  top: 40%;
  transition: 0.2s;
}

.right-arrow {
  left: 100%;
  top: 40%;
  transition: 0.2s;
}

.modal-left-arrow {
  width: 40px;
  left: 1%;
  top: 45%;
}

.modal-right-arrow {
  left: 71%;
  top: 45%;
}
