.arrow {
  position: absolute;
  z-index: -1;
  width: 40px;
  opacity: 0.7;
  top: 95px;
  transition: 0.2s;
}

.arrow:hover {
  opacity: 1;
}

.left-arrow {
  left: -50px;
}

.slideshow:hover .left-arrow {
  left: 20px;
  z-index: 2;
}

.right-arrow {
  left: 720px;
}

.slideshow:hover .right-arrow {
  left: 610px;
  z-index: 2;
}

.modal-left-arrow {
  width: 40px;
  left: 1%;
  top: 45%;
}

.modal-right-arrow {
  left: 71%;
  top: 45%;
}
