body {
  font-family: Helvetica;
  font-weight: bold;
  margin: 0;
}

.slideshow {
  /* height: 250px; */
}

.photo {
  height: 250px;
  width: 250px;
  float: left;
}

.left-arrow {
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 1;
  width: 50px;
}

.right-arrow {
  position: absolute;
  left: 690px;
  top: 100px;
  z-index: 1;
  width: 50px;
}
