body {
  font-family: Helvetica;
  font-weight: bold;
  margin: 50px;
}

.slideshow {
  /* height: 250px; */
}

.photo {
  height: 250px;
  width: 250px;
  float: left;
  transition: transform .2s;
}

.photo:hover {
    transform: scale(1.2);
}

/* .photo-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
} */

.center-photo {
  height: 300px;
  width: 300px;
}

.arrow {
  position: absolute;
  z-index: 1;
  width: 50px;
}

.left-arrow {
  left: 60px;
  top: 150px;
}

.right-arrow {
  left: 730px;
  top: 150px;
}
