body {
  font-family: Helvetica;
  font-weight: bold;
  margin: 50px;
}

.slideshow {
  /* height: 250px; */
}

.photo {
  height: 250px;
  width: 250px;
  float: left;
  transition: transform .2s;
}

.center-photo {
  height: 300px;
  width: 300px;
}

/* .left-photo {

}

.right-photo {

} */

.left-photo:hover {
  transform: scale(1.2);
}

/* .right-photo:hover {
  transform: scale(1.2);
} */

.right-photo:hover + .center-photo {
  transform: scale(.5);
}

.arrow {
  position: absolute;
  z-index: 1;
  width: 50px;
}

.left-arrow {
  left: 60px;
  top: 150px;
}

.right-arrow {
  left: 730px;
  top: 150px;
}
